/* You can add global styles to this file, and also import other style files */
/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

@import "~primeicons/primeicons.css";
@import "~primeng/resources/themes/nova-light/theme.css";
@import "~primeng/resources/primeng.min.css";

.main-container {
    position: absolute;
    top: 64px;
    left: 200px;
    right: 0;
    bottom: 0;
    padding: 20px;
    background-color: #fff;
}

@media screen and (max-width: 992px) {
    .main-container {
      left: 0px;
    }
}
@media screen and (max-width: 992px) {
    .push-right #sidebar {
      left: 0 !important;
    }
}