<app-sidebar></app-sidebar>
<div class="main-container">

    <mat-spinner strokeWidth="3" [diameter]="50" class="loading" *ngIf="isLoading"></mat-spinner>

    <app-inkasanti-obrada *ngIf="obrada" (closeEvent)="receiveClose($event)"></app-inkasanti-obrada>
    <mat-tab-group *ngIf="!obrada" [(selectedIndex)]="selected">
        <mat-tab label="Novi nalozi">
            <mat-accordion>
                <mat-expansion-panel *ngFor="let nalog of taskList_novi"
                    [ngStyle]="{'background-color':nalog.status === 1 ? 'lightgreen' : 'white' }">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{nalog.datum | date:'dd.MM.yyyy'}}
                        </mat-panel-title>
                        <mat-panel-description>
                            {{nalog.broj}}
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="client-container">
                        <span class="small">Zaduženje:</span>
                        <span class="space-bottom border-list">{{nalog.tip_zaduzenja}}</span>

                        <span class="small">Vrsta kontrole:</span>
                        <span class="space-bottom border-list">{{nalog.kontrola_opis}}</span>

                        <div class="labels">
                            <label id="name-label" for="name">Napomena:</label>
                        </div>
                        <div class="border-list">{{nalog.napomena}}</div>
                    </div>
                    <div class="space-between" *ngFor="let kl of nalog.data"
                        (click)="onObradaNovi(nalog.broj, kl.klijent_id)">

                        <div *ngIf="kl.klijent_id" class="client-container ripple-container" matRipple
                            [ngStyle]="{'background-color':kl.izvStatus === 1 ? 'lightgreen' : 'white' }">
                            <mat-divider></mat-divider>
                            <span class="small space-top">Korisnik:</span>
                            <span><strong>{{kl.klijent_id}} - {{kl.klijent_naziv}}</strong></span>
                            <span class="small">Adresa:</span>
                            <span class="space-bottom">{{kl.klijent_adresa}}</span>
                        </div>
                        <div *ngIf="kl.sifra_ulice" class="client-container ripple-container" matRipple
                            [ngStyle]="{'background-color':kl.izvStatus === 1 ? 'lightgreen' : 'white' }">
                            <mat-divider></mat-divider>
                            <span class="small space-top">Ulica:</span>
                            <span><strong>{{kl.naziv_ulice}}</strong></span>
                            <span class="small">Brojevi:</span>
                            <span class="space-bottom">{{kl.broj_od}} - {{kl.broj_do}}</span>
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </mat-tab>
        <mat-tab label="Završeni">
            <mat-accordion>
                <mat-expansion-panel *ngFor="let nalog of taskList_zavrseni"
                    [ngStyle]="{'background-color':nalog.status === 1 ? 'lightgreen' : 'white' }">

                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{nalog.datum | date:'dd.MM.yyyy'}}
                        </mat-panel-title>
                        <mat-panel-description>
                            {{nalog.broj}}
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="client-container">
                        <span class="small">Zaduženje:</span>
                        <span class="space-bottom border-list">{{nalog.tip_zaduzenja}}</span>

                        <span class="small">Vrsta kontrole:</span>
                        <span class="space-bottom border-list">{{nalog.kontrola_opis}}</span>

                        <div class="labels">
                            <label id="name-label" for="name">Napomena:</label>
                        </div>
                        <div class="border-list">{{nalog.napomena}}</div>
                    </div>
                    <div class="space-between" *ngFor="let kl of nalog.data"
                        (click)="onObradaZavrseni(nalog.broj, kl.klijent_id)">
                        <div *ngIf="kl.klijent_id" class="client-container ripple-container" matRipple
                            [ngStyle]="{'background-color':kl.izvStatus === 1 ? 'lightgreen' : 'white' }">
                            <mat-divider></mat-divider>
                            <span class="small space-top">Korisnik:</span>
                            <span><strong>{{kl.klijent_id}} - {{kl.klijent_naziv}}</strong></span>
                            <span class="small">Adresa:</span>
                            <span class="space-bottom">{{kl.klijent_adresa}}</span>
                        </div>
                        <div *ngIf="kl.sifra_ulice" class="client-container ripple-container" matRipple
                            [ngStyle]="{'background-color':kl.izvStatus === 1 ? 'lightgreen' : 'white' }">
                            <mat-divider></mat-divider>
                            <span class="small space-top">Ulica:</span>
                            <span><strong>{{kl.naziv_ulice}}</strong></span>
                            <span class="small">Brojevi:</span>
                            <span class="space-bottom">{{kl.broj_od}} - {{kl.broj_do}}</span>
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </mat-tab>
        <mat-tab label="Svi">
            <mat-accordion>
                <mat-expansion-panel *ngFor="let nalog of taskList"
                    [ngStyle]="{'background-color':nalog.status === 1 ? 'lightgreen' : 'white' }">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{nalog.datum | date:'dd.MM.yyyy'}}
                        </mat-panel-title>
                        <mat-panel-description>
                            {{nalog.broj}}
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="client-container">
                        <span class="small">Zaduženje:</span>
                        <span class="space-bottom border-list">{{nalog.tip_zaduzenja}}</span>

                        <span class="small">Vrsta kontrole:</span>
                        <span class="space-bottom border-list">{{nalog.kontrola_opis}}</span>

                        <div class="labels">
                            <label id="name-label" for="name">Napomena:</label>
                        </div>
                        <div class="border-list">{{nalog.napomena}}</div>
                    </div>
                    <div class="space-between" *ngFor="let kl of nalog.data"
                        (click)="onObradaSvi(nalog.broj, kl.klijent_id)">
                        <div *ngIf="kl.klijent_id" class="client-container ripple-container" matRipple
                            [ngStyle]="{'background-color':kl.izvStatus === 1 ? 'lightgreen' : 'white' }">
                            <mat-divider></mat-divider>
                            <span class="small space-top">Korisnik:</span>
                            <span><strong>{{kl.klijent_id}} - {{kl.klijent_naziv}}</strong></span>
                            <span class="small">Adresa:</span>
                            <span class="space-bottom">{{kl.klijent_adresa}}</span>
                        </div>
                        <div *ngIf="kl.sifra_ulice" class="client-container ripple-container" matRipple
                            [ngStyle]="{'background-color':kl.izvStatus === 1 ? 'lightgreen' : 'white' }">
                            <mat-divider></mat-divider>
                            <span class="small space-top">Ulica:</span>
                            <span><strong>{{kl.naziv_ulice}}</strong></span>
                            <span class="small">Brojevi:</span>
                            <span class="space-bottom">{{kl.broj_od}} - {{kl.broj_do}}</span>
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </mat-tab>
    </mat-tab-group>
</div>